/*CSS basic style sheet

----------------------

/    Container set up:
/
/    -----------------
/          div 1
/    -----  ----------
/    div 2     div 3
/    -----------------
/        footer
/
----------------------*/

body{
    font-family: 'Assistant', sans-serif;
    font-weight: 100;
    background-color: #9ba47e;
    background-image: url(Images/crinkle.png);
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "header header header"
    "navbar navbar navbar"
    "main main main"
    "footer footer footer";
    grid-auto-rows: minmax(100px, auto);

}
.div1, .div2, .div3, .div4{
/*When I want to enter dev mode, add a border style so i can visualize where my divs are*/
}
.div1{
    grid-area: header;
    justify-self: center;
}
.div2{
    grid-area: navbar;
}
.div3{
    grid-area: main;
    margin-left: 13%;
    margin-right: 13%;
}
.div4{
    grid-area: footer;
    justify-self: center;
    font-size: 25px;
    background-color: black;
    color: #edf250;
    padding: 15px 300px;
    border-radius: 1ch;
}
header h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 70px;
    color: #ccf244;
    filter: drop-shadow(5px 5px 7px #828c63);
    display: inline-block;
}
header h2{
    color: black;
    font-size: 40px;
    display: inline-block;
    filter: drop-shadow(0px 0px 12px #ccf244);
}
h2{
    font-size: 45px;
    letter-spacing: 5px;
}
h3{
    color: black;
    font-size: 30px;
    font-weight: 200;
}
h4{
    color: black;
    font-size: 35px;
    font-weight: 400;
}
p {
    font-size: 30px;
    color: #edf250;
    font-size: 30px;
}

.navbar {
    background-color: black;
    border-radius: 1ch;
    overflow: hidden;
    box-shadow: 12px 12px 7px #828c63;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

#nb1, #nb2, #nb3, #nb4{
    min-width: fit-content;
    padding: 2%;
    position: relative;
    display: inline-block;
    align-self: center;
}

/*text mainly*/
#button{
    background-color: lightgrey;
    padding: 10px;
    border-radius: 3ch;
    transition-duration: 0.012s;
}
#button:hover{
    transform: scale(0.9);
}
a.button{
    display:inline-block;
    border-radius:1ch;
    box-sizing: border-box;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#FFFFFF;
    transition: all 1s;
}
a.button:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#FFFFFF;
    border-color:#FFFFFF;
}
/*links inside the navbar */
.dropdown-contet{
    display: block;
}
li {
    color: #ccf244;
    padding: 1%;
    font-size: 23px;

    }
.navbar li{
    display: inline;
}
a{
    color: #ccf244;
    }
    /*navbar links on hover */
a:hover {
    background-color: #828c6e;
    color: black;
    }
    /*active class to highlight the current page */
a.active {
    background-color: #edf250;
    color: black;
    }

#heytherepng{
    float: inline-start;
    width: 340px;
    height: auto;
    z-index: 2;
    margin-bottom: -70px;
}
    
.main2{
   justify-self: center;
}
.main2 img{
    justify-self: center;
    align-self: center;
    height: auto;
    width: auto;
}
hr{
    border: #ccf244;
    border-radius: 1px;
    border-style: dashed;
    margin: 70px;
}
footer i{
    color: #edf250;
}

.italic-reveal:hover{
    transform: scale(1);
}
/*end text*/


/*Begin gallery with hover text*/
#gallery{
    display:inline;
    line-height: 0;
}
.graphicdesign, .advertisements, .wireframes{
    display: flex;
    align-items: center;
    padding: 5%;
  }
img{
    width: auto;
    height: auto;
    overflow: hidden;
    filter:grayscale(100%) blur(1px);
 }
#gallery img:hover {
    filter:none;
 }
 
.graphicdesign img:hover{
    transform: scale(2);
    z-index: 1;
}
.advertisements img:hover{
    transform: scale(4);
    z-index: 1;
}
.wireframes img:hover{
    transform: scale();
    z-index: 1;
}

/*
.graphicdesign img:active{
    transform: scale(5);
    z-index: 1;
}
.advertisements img:active{
    transform: scale(6);
    z-index: 1;
}
.wireframes img:active{
    transform: scale(2.5);
    z-index: 1;
}
*/